*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px;
    gap: 32px;
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    opacity: 0.7;
}